---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import
    "settings"
;

.testimonials {
  h4 {
    text-align: center;
    margin-bottom: 0;
  }

  .testimonial {
    p {
      margin-bottom: 0;
      margin-top: 2rem;
    }

    cite {
      font-size: 2rem;
      font-weight: 300;
      font-family: $title-font-family;
      font-style: normal;
      text-align: right;
      line-height: 1.5;
      letter-spacing: -0.05rem;

      .author:before {
        content: "- ";
      }

      .author:after {
        content: ", ";
      }

      .breaks {
        display: block;
        text-decoration: none;

        @include mq($bp-larger-than-tablet) {
          display: inline-block;
        }
      }
    }
  }
}

.profileImage {

  img {
    display: block;
    width: 100%;
    max-width: 40%;
    margin: 0 auto 30px;
    @include border-radius();

    @include mq($bp-larger-than-tablet) {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  &.two.columns {
    @include mq($bp-larger-than-phablet) {
      width: 100%;
      margin: 0;
    }

    @include mq($bp-larger-than-tablet) {
      margin-right: 4%;
      width: grid-column-width(2);
    }
  }
}

.profileBio {
  &.nine.columns {
    @include mq($bp-larger-than-phablet) {
      width: 100%;
      margin: 0;
    }

    @include mq($bp-larger-than-tablet) {
      margin-left: 4%;
      width: grid-column-width(9);
    }
  }
}