@charset "utf-8";

@import
    "settings",
    "contentPadding";

@include button(button-black, $light-grey, $dark-grey, $dark-grey, $dark-grey, transparent, $dark-grey);

.hero {
  background-size: cover;
  background-position: center left;
  @include border-radius;

  .opacity {
    padding: 10rem 1rem;
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    @include border-radius;

    .title {
      font-size: 3.6rem;
      font-weight: 300;
      font-family: $title-font-family;
      line-height: 1.25;
      letter-spacing: -.1rem;
      margin-bottom: 3rem;
      text-shadow: 0 2px 2px rgba(50,50,50,0.25);

      .break {
        display: block;

        @include mq($bp-larger-than-phablet) {
          display: inline-block;

          &:nth-child(3) {
            display: block;
          }
        }
      }
    }

    .button-black {
      font-size: 3rem;
      padding: 0.6rem 5rem 0;
      font-weight: 300;
      font-family: $title-font-family;
      height: 5rem;
    }
  }
}

@include mq($bp-larger-than-phablet) {
  .column,
  .columns {
    margin-left: $column-margin;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one-third.column { width: grid-column-width(4); }
}

.services .one-third.column {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;

  @include mq($bp-larger-than-tablet) {
    width: grid-column-width(4);
  }

  img {
    width: 100%;
    max-width: 40%;
    display: block;
    margin: 2.5rem auto 0;
  }

  h3 {
    margin: 0 0 2rem 0;
    font-size: 3rem;
    font-weight: 300;
    font-family: $title-font-family;
    line-height: 1.3;
    letter-spacing: -0.1rem;

    @include mq($bp-larger-than-desktop) {
      font-size: 3.6rem;
    }
  }

  p {
  	margin-bottom: 0;
  }
}