@charset "utf-8";

@import
  "settings";

.sectionTitle {
	margin: 0 0 2rem 0;
	border-bottom: 1px solid $border-color;
	font-size: 2.4rem; 
	line-height: 1.35; 
	letter-spacing: -.08rem;
}

.featureItem,
.categoryItem {
	margin-bottom: 2rem;
}

.postTitle {
	text-align: center;
	margin: 0;

	a {
		text-decoration: none;
	}
}

.postImage {
	max-width: 80%;
	margin: 0 10%;
	@include border-radius;
}

.postDetails {
	text-align: center;
	margin: 0;
	color: #999;
}

.postExcerpt {
	margin: 0;
}

.featuredItems .one-third.column,
.categoryItems .one-third.column {
  width: 100%;

  @include mq($bp-larger-than-phablet) {
    width: grid-column-width(6);
  }

  @include mq($bp-larger-than-desktop) {
    width: grid-column-width(4);
  }
}