@charset "utf-8";

@import
  "settings";

.sectionTitle {
	margin: 0 0 2rem 0;
	border-bottom: 1px solid $border-color;
	font-size: 2.4rem; 
	line-height: 1.35; 
	letter-spacing: -.08rem;

	@include mq($bp-larger-than-phablet) {
		font-size: 3.0rem;
	}
}

.featureItem,
.categoryItem {
	margin-bottom: 2rem;
}

.postTitle {
	text-align: center;
	margin: 0;

	a {
		text-decoration: none;
	}
}

.postDetails {
	text-align: center;
	margin: 0;
}

.postExcerpt {
	margin: 0;
}