.featureItem,
.categoryItem {
	margin-bottom: 2rem;
}

.postTitle {
	text-align: center;
	margin: 0;

	a {
		text-decoration: none;
	}
}

.postDetails {
	text-align: center;
	margin: 0;
}

.postExcerpt {
	margin: 0;
}