@charset "utf-8";

@import
  "settings"
;

html,
body {
	height: 100%;
}

.page {
	min-height: 100%;
	position: relative;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid $border-color;
}

.logo {
	text-decoration: none;
	color: $dark-grey;
	display: inline-block;
	margin-bottom: 0;
	font-size: 2.4rem;
	line-height: 2.5;

	@include mq($bp-larger-than-phablet) {
		font-size: 3.6rem;
		line-height: 1.67;
	}

	@include mq($bp-larger-than-tablet) {
		font-size: 4.2rem;
		line-height: 1.45;
	}
}

.menu {
	margin: 1rem 0;
	padding: 0 15px !important;
}

$menu-width: 32rem;
.menuToggle{
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	border:0;
	clip:rect(0 0 0 0);
	overflow:hidden;
	
	+ .navigationList {
	  right: -$menu-width;
	  opacity: 0;
	}

	&:checked + .navigationList {
  	right: 0;
  	opacity: 1; 
  }
}

.closeMenu {
	margin-bottom: 0;
	padding: 5px 0;
	text-align: center;
	background-color: $dark-grey;
  color: $light-grey;
  font-size: 2rem;
  font-weight: 400;
  font-family: $title-font-family;
}

.navigationList {
	position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: $menu-width;
  background: #FFF;
  border-left: 1px solid $border-color;
  @include transition(right 500ms, opacity 500ms);

  ul {
  	list-style: none;
  	margin-bottom: 0;
  	width: 100%;

  	li {
  		margin-bottom: 0;

  		a {
  			display: block;
  			text-decoration: none;
  			text-align: center;
  			color: $dark-grey;
  			font-size: 2rem;
  			padding: 8px 0;
  			border-bottom: 1px solid $border-color;
  			@include transition(background-color 500ms, color 500ms);

  			&:hover {
  				background-color: $dark-grey;
  				color: $light-grey;
  			}
  		}
  	}
  }
}