@charset "utf-8";

@import
  "settings"
;

html,
body {
	height: 100%;
}

.page {
	min-height: 100%;
	position: relative;
}

.logo {
	text-decoration: none;
	color: $dark-grey;
	display: inline-block;
}

.menuToggle{
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	border:0;
	clip:rect(0 0 0 0);
	overflow:hidden
}
