@charset "utf-8";

@import
  "settings"
;

html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

html { 
	font-family: sans-serif; 
	font-size: 62.5%; 
}

body { 
	font-size: 1.5em; 
	line-height: 1.6; 
	font-weight: 400; 
	font-family: $font-family; 
	color: $font-color;
}

.page {
	min-height: 100%;
	position: relative;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid $border-color;
  height: $header-height;
  background: #fff;
  z-index: $header-index;
}

.container {
  position: relative;
  width: 100%;
  min-width: $container-min-width;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container.contentContainer {
  padding-top: $header-height;
  padding-bottom: $footer-height + 4rem;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

// For devices larger than 400px
@include mq($bp-larger-than-mobile) {
  .container {
    width: $container-width-larger-than-mobile;
    padding: 0;
  }
}

// For devices larger than 550px
@include mq($bp-larger-than-phablet) {
  .container {
    width: $container-width-larger-than-phablet;
  }
 }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  font-family: $title-font-family;
}

h1 { font-size: 2.4rem; line-height: 1.35;  letter-spacing: -.08rem; text-align: center; margin: 0.67em 0;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem;  }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem;  }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0;       }

// Larger than phablet
@include mq($bp-larger-than-phablet) {
  h1 { font-size: 3.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

.logo {
	display: inline-block;
	margin: 0;
	font-size: 2.4rem;
	font-family: $title-font-family;
	font-weight: 300;
	line-height: 2.5;
	letter-spacing: -0.1rem;

  a {
    text-decoration: none;
    color: $dark-grey;
    @include transition(color 500ms);
  }

	@include mq($bp-larger-than-phablet) {
		font-size: 3.6rem;
		line-height: 1.67;
	}
}

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $secondary-color;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  @include border-radius();
  border: 1px solid $border-color;
  cursor: pointer;
  box-sizing: border-box;
  @include transition(color 500ms, background-color 500ms, border-color 500ms);
}

@include button(button-menu, $dark-grey, transparent, $dark-grey, $light-grey, $dark-grey, $dark-grey);
.button-menu {
	margin: 1rem 0;
	padding: 0 15px !important;

  @include mq($bp-larger-than-tablet) {
    display: none;
  }
}

.u-pull-right {
  float: right;
}

$menu-width: 32rem;
.menuToggle{
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	border:0;
	clip:rect(0 0 0 0);
	overflow:hidden;

  + .navigationList {
    right: -$menu-width;
    opacity: 0;
  }

  &:checked + .navigationList {
    right: 0;
    opacity: 1; 
  }
	
  @include mq($bp-larger-than-tablet) {
  	&:checked + .navigationList,
    + .navigationList {
  	  right: auto;
  	  opacity: 1;
      display: inline-block;
  	}
  }
}

.closeMenu {
	margin-bottom: 0;
	padding: 5px 0;
	display: block;
	text-align: center;
	background-color: $dark-grey;
  color: $light-grey;
  font-size: 2rem;
  font-weight: 400;
  font-family: $title-font-family;

  @include mq($bp-larger-than-tablet) {
    display: none;
  }
}

.navigationList {
	position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: $menu-width;
  background: #FFF;
  border-left: 1px solid $border-color;
  @include transition(right 500ms, opacity 500ms);

  ul {
  	list-style: none;
  	margin: 0;
    padding: 0;
  	width: 100%;

  	li {
  		margin-bottom: 0;

  		a {
  			display: block;
  			text-decoration: none;
        text-transform: uppercase;
  			text-align: center;
  			color: $dark-grey;
  			font-size: 2rem;
  			padding: 8px 0;
  			border-bottom: 1px solid $border-color;
  			@include transition(background-color 500ms, color 500ms);

  			&:hover {
  				background-color: $dark-grey;
  				color: $light-grey;
  			}
  		}
  	}
  }
}

@include mq($bp-larger-than-tablet) {
  .navigationList {
    position: relative;
    top: auto;
    height: auto;
    width: auto;
    max-width: inherit;
    background: inherit;
    border-left: 0;
    @include transition(none);

    ul {

      li {
        margin-bottom: 0;
        display: inline-block;

        a {
          display: inline-block;
          text-decoration: none;
          text-align: center;
          color: $dark-grey;
          font-size: 1.5rem;
          font-weight: 300;
          letter-spacing: 0.2rem;
          line-height: 6rem;
          padding: 0;
          border-bottom: 0;
          margin-right: 2.5rem;

          @include transition(color 500ms);

          &:hover {
            color: $primary-color;
            background-color: transparent;
          }
        }
      }
    }
  }
}

.breadcrumbs {  
  list-style: none;
  overflow: hidden; 
  @include border-radius;

  li { 
    float: left; 

    a {
      text-decoration: none;
      outline: none;
      display: block;
      float: left;
      line-height: 36px;
      padding: 0 10px 0 30px;
      background: #f2f2f2;
      position: relative;
      color: #333;

      &.active,
      &:hover,
      &.active:after, 
      &:hover:after {
        background: #ddd;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0; 
        right: -18px;
        width: 36px; 
        height: 36px;
        transform: scale(0.707) rotate(45deg);
        z-index: 1;
        background: #f2f2f2;
        box-shadow: 2px -2px 0 2px #fff;
        border-radius: 0 5px 0 50px;
      }

      &:hover:after {
        box-shadow: 2px -2px 0 2px #eee;
      }
    }

    &:first-child a {
      padding-left: 20px;
      border-radius: 4px 0 0 4px;
    }

    &:first-child a:before {
      left: 14px;
    }

    &:last-child a {
      border-radius: 0 4px 4px 0;
      padding-right: 20px;
      background: transparent;  
      line-height: 34px;
      border: 1px solid #eee;

      &:hover {
        background: transparent;
      }
    }

    &:last-child {
      display: none;

      @include mq($bp-larger-than-phablet) {
        display: inline;
      }

      a:after {
        content: none;
      }
    }

    a,
    a:after {
      @include transition(all 500ms);
    }
  }
}

.searchHelp {
  text-align: center;
}

.inset {
  margin: 0 auto;
  
  input {
    padding: 6px 90px 6px 10px !important;
  }

  button {
    padding: 0 10px;
    margin-left: -75px;
    position: absolute;
    -webkit-border-top-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-top-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.footer {
  background: #f2f2f2;
  border-top: 1px solid $border-color;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: $footer-height;

  .container {
    padding: 0 0 0 5px;
  }

  .columns {
    width: 65%;
    margin-left: 0;
    &:first-child {
      width: 35%;
    }
  }

  @include mq($bp-larger-than-phablet) {
    .container {
      padding: 0 20px;
    }

    .columns {
      width: 52% !important;
      &:first-child {
        width: 48% !important;
      }
    }
  }
}

$footer-height: 40px;

.copyright {
  font-weight: 300;
  font-family: $title-font-family;
  line-height: $footer-height;
  color: #999;
  font-size: 1rem;

  @include mq($bp-larger-than-phablet) {
    font-size: 1.4rem;
  }

}

.social {
  margin: 0;

  li {
    float: left;
    margin: 0;
    border: none;
    list-style: none;

    a {
      background-color: transparent;
      background-repeat: no-repeat;
      background-image: url(//images.cdn.bradlysharpe.com.au/social-compressed.png);
      background-size: auto $footer-height;
      border: 0;
      color: #fff;
      direction: ltr;
      display: block;
      height: $footer-height;
      width: $footer-height;
      content: "";
      overflow: hidden;
      text-align: left;
      text-decoration: none;
      opacity: 0.25;
      @include transition(opacity 500ms);

      &:hover {
        opacity: 1;
      }
    }
  }

  .facebook {
    a {
      background-position: 0 0;
    }
  }

  .googleplus {
    a {
      background-position: ($footer-height * -2) 0;
    }
  }

  .twitter {
    a {
      background-position: ($footer-height * -6) 0;
    }
  }

  .github {
    a {
      background-position: ($footer-height * -1) 0;
    }
  }

  .rss {
    a {
      background-position: ($footer-height * -4) 0;
    }
  }
}