<div class="header">
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<h2 class="logo">Bradly Sharpe IT</h2>
				<label class="button button-menu u-pull-right" for="menuToggle">Menu</label>
				<input type="checkbox" class="menuToggle" name="menuToggle" id="menuToggle">
				<div class="navigationList u-pull-right">
					<label class="closeMenu" for="menuToggle">Menu</label>
				  <ul class="u-pull-right">
				  {% for link in site.data.navigation %}
				    <li>
				      <a href="{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %} title="{{ link.title }}">{{ link.title }}</a>
				    </li>
				  {% endfor %}
				  </ul>
				</div>
			</div>
		</div>
	</div>
</div>