{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:site_name" content="{{ site.title }}" />
{% else %}
<meta property="og:title" content="{{ site.title }}" />
{% endif %}
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="{% if page.openGraphType %}{{ page.openGraphType }}{% else %}website{% endif %}" />
<meta property="og:url" content="http://www.imdb.com/title/tt0117500/" />
{% if page.featuredImage %}
<meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" />
{% endif %}