.footer {
	background: #f2f2f2;
	border-top: 1px solid $border-color;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: $footer-height;
}

$footer-height: 40px;

.copyright {
	font-weight: 300;
	font-family: $title-font-family;
	line-height: $footer-height;
	color: #999;
	padding-left: 1rem;
	font-size: 1.4rem;
}

.social {
	margin: 0;

	li {
		float: left;
		margin: 0;
		border: none;
		list-style: none;

		a {
			background-color: transparent;
			background-image: url(/images/social-compressed.png);
			background-repeat: no-repeat;
			background-size: auto 120px;
			border: 0;
			color: #fff;
			direction: ltr;
			display: block;
			height: $footer-height;
			width: $footer-height;
			content: "";
			overflow: hidden;
			text-align: left;
			text-decoration: none;
			opacity: 0.25;
			@include transition(all 500ms);

		}
	}

	.facebook {
		a {
			background-position: 0 (-$footer-height);
		}
	}

	.googleplus {
		a {
			background-position: ($footer-height * -3) (-$footer-height);
		}
	}

	.twitter {
		a {
			background-position: ($footer-height * -8) (-$footer-height);
		}
	}
}