body {
	color: black;
	font-size: 12pt;
}

.container {
	width: 100%;
}

.header,
.footer {
	display: none;
}

.hero {
	background-image: none !important;

	.opacity {
		padding: 0;

		.action {
			display: none;
		}
	}
}

a {
	&:after {
		content: " (" attr(href) ")";
		font-size: 80%;
	}

	&[href^="#"]:after {
		display: none;
	}

}

a
.contentContainer,
.content {
	padding: 0;
}