---
layout: default
title: DNS
---
{% if page.category != nil %}
	{% assign page_content = content | strip_newlines | strip_html %}
	{% if page_content != "" %}
	<div class="categoryContent">
		{{ content }}
	</div>
	{% endif %}

	{% assign hasFeatured = false %}
	{% for post in site.posts %}
		{% if post.categories contains page.category and post.featured and post.featured == true %}
	  	{% assign hasFeatured = true %}
	  {% endif %}
	{% endfor %}

	{% assign post_count = 0 %}

	{% if hasFeatured %}
	<div class="featuredItems">
		{% for post in site.posts %}
		  {% if post.categories contains page.category and post.featured and post.featured == true %}
	  	{% assign post_count=post_count | plus:1 %} 
		  <div class="featuredItem">
		    <h4 class="postTitle"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h4>
		    <span class="postDetails">Posted in {{ post.categories | first | capitalize_category }} on {{ post.date | date_to_string }}</span>
		    <p class="postExcerpt">{{ post.excerpt | strip_html }}</p>
		  </div>
		  {% endif %}
		{% endfor %}
	</div>
	{% endif %}

	<div class="cetegoryItems">
	{% for post in site.posts %}
	  {% if post.categories contains page.category and post.featured == nil or post.featured == false %}
	  {% assign post_count=post_count | plus:1 %} 
	  <div class="categoryItem">
	    <h4 class="postTitle"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h4>
	    <span class="postDetails">Posted in {{ post.categories | first | capitalize_category }} on {{ post.date | date_to_string }}</span>
	    <p class="postExcerpt">{{ post.excerpt | strip_html }}</p>
	  </div>
	  {% endif %}
	{% endfor %}
	{% if post_count == 0 %}
	<div class="noPosts">
		<p>{{ page.category | capitalize_category }} posts coming soon!</p>
	</div>
	{% endif %}
	</div>
{% endif %}